

.project {
	box-sizing: border-box;
	margin-right: 1.5%;
	margin-bottom: 5%;
	float: left;
}

.row {
	box-sizing: border-box;
	height: 100%;
}

img{
	width: 200px;
	height: 200px;
	float: left;
	margin: 0 2% 2% 0;
	border-radius: 15px;
}

img:hover {
	opacity: 0.3;
	transition: 0.5s ease;
	backface-visibility: hidden;

}
.nav-item:hover {
	background-color: lightblue;
	transition: 0.5s ease;

}

.row {
	display: inline;
	box-sizing: border-box;
}

h1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-decoration: underline;
	text-align: center;
	margin-bottom: 2%;
}
h5 {
	text-align: center;
	background-color:orange;
  color: white;
  font-size: 16px;
  padding: 5px;
}
p {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
	margin: 0 auto;
	margin-top: 2%;
	box-sizing: border-box;
	padding: 10px;
}

.card {
	padding: 15px;
	background-color: peachpuff;
}

.jumbotron {
	margin-top: 2%;
	padding-top: 20px;
	box-sizing: border-box;

}

.linkedIn {
	height: 30px;
	width: 30px;
	margin-right: 1%;
}
.gitHub {
	height: 30px;
	width: 30px;
	margin-left: 40%;
}

.lastName {
	color: orange;
}

.media {
	float: right;
	margin-right: 2%;
}

.footer {
	width: 100%;
	padding: 10px;
	background-color: rgb(229, 232, 232);
	text-align: center;
}