.row {
  display: inline;
  box-sizing: border-box;
}
body {
  background-color: #e3e0dd;
  padding: 0 3% 0 3%;
}

form {
  text-align: center;
  border: 2px solid black;
  margin: 3% 0 8% 0;
  padding: 5%;
  background-color: white;
  box-shadow: 4px 4px;
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
  text-align: center;
  text-decoration: underline;
  margin-top: 1%;
  font-weight: bold;
}

.nav-wrapper {
  background-color: black;
}

/* .linkedIn {
  height: 30px;
  width: 30px;
  margin-right: 1%;
}
.gitHub {
  height: 30px;
  width: 30px;
  margin-left: 40%;
}

.media {
  float: right;
  margin-right: 2%;
} */

.page-footer {
  background-color: black;
  text-align: center;
  padding: 1%;
}
