

.card {
	box-sizing: border-box;
	width: 250px;
	height: 320px;
	margin-bottom: 5%;
	margin-right: 2%;
	box-shadow: 5px 5px grey;
	float: left;
}


img{
	width: 200px;
	height: 200px;
	float: left;
	margin: 0 2% 2% 0;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FA8128;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.row {
	display: inline;
	box-sizing: border-box;
}

h1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-decoration: underline;
	text-align: center;
	margin-bottom: 4%;
}

p {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-item:hover {
	background-color: lightblue;
	transition: 0.5s ease;

}
.container {
	overflow: auto;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: -3%;
}

.jumbotron {
	margin-top: 2%;
	margin-bottom: 15%;
	box-sizing: border-box;

}

.linkedIn {
	height: 30px;
	width: 30px;
	margin-right: 5%;
}
.gitHub {
	height: 30px;
	width: 30px;
	margin-left: 40%;

}

.porfolio {
	color: orange;
}

.media {
	float: right;
	margin-right: 2%;
}

.linkedIn:hover {
	opacity: 0.3;
	transition: 0.5s ease;
}
.gitHub:hover {
	opacity: 0.3;
	transition: 0.5s ease;
}

.footer {
	width: 100%;
	padding: 10px;
	background-color: rgb(229, 232, 232);
	text-align: center;
}
