#profile-image {
	width: 200px;
	height: 300px;
	float: left;
	margin: 0 2% 2% 0;
	border-radius: 15px;
}

#picture {
	width: 200px;
	height: 200px;
}

img {
	width: 40px;
	height: 40px;
	float: left;
}

#skills {
	margin-left: 25%;
}

.row {
	display: inline;
	box-sizing: border-box;
}

h1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-decoration: underline;
	text-align: center;
}
h5 {
	text-align: center;
}
p {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-item:hover {
	background-color: lightblue;
	transition: 0.5s ease;
}

.container {
	overflow: auto;
	width: 100%; 
	margin: 0 auto;
	box-sizing: border-box;
}

.jumbotron {
	margin-top: 2%;
	padding-top: 20px;
	box-sizing: border-box;

}

.linkedIn {
	height: 30px;
	width: 30px;
}
.gitHub {
	height: 30px;
	width: 30px;
	margin-left: 40%;
}

.lastName {
	color: orange;
}

.media {
	float: right;
	margin-right: 2%;
}

.footer {
	width: 100%;
	padding: 10px;
	background-color: rgb(229, 232, 232);
	text-align: center;
}