.nav-wrapper {
  font-family: "Staatliches", cursive;
  font-weight: bold;
}

.button {
  padding: 0 5px 0 5px;
  background-color: rgb(185, 158, 5);
  width: 100%;
}

li {
  margin-left: 1%;
}

.right {
	width: 100%;
	height: 40%;
	/* margin-right: 3%; */
}
