body {
  background-color: #e3e0dd;
  padding: 0 3% 0 3%;
}
h1,
h2,
h3 {
  font-family: "Lobster", cursive;
  text-align: center;
  text-decoration: underline;
  margin-top: 1%;
  font-weight: bold;
}

p {
	font-family: 'EB Garamond', serif;
	font-size: 18px;
	padding: 0 4% 2.5% 4%;
}

.my-photo {
	width: 100%;
	padding: 1%;
	background-color: white;
	margin-top: 1%;
	filter: grayscale(0.4);
}

.brand-logo {
  padding: 5px;
}
