body {
  background-color: #e3e0dd;
  padding: 0 3% 0 3%;
}
h1,
h2,
h3 {
  font-family: "Lobster", cursive;
  text-align: center;
  text-decoration: underline;
  margin-top: 1%;
  font-weight: bold;
}
.card-image {
  width: 100%;
  margin-top: 10%;
  filter: grayscale(0.3);
}

.card {
  margin: 4% 0 7% 0;
}

.brand-logo {
  padding: 5px;
}

.card-text {
  width: 60%;
}

.nav-wrapper {
  background-color: black;
}

p {
	font-family: 'EB Garamond', serif;
  font-size: 18px;
  padding: 0 4% 2.5% 4%;
}

.gitHub {
  width: 5%;
}
.linkedIn {
  width: 5%;
}
.media {
  float: right;
  margin-right: 2%;
}

.linkedIn:hover {
  opacity: 0.3;
  transition: 0.5s ease;
}
.gitHub:hover {
  opacity: 0.3;
  transition: 0.5s ease;
}

.page-footer {
	background-color: black;
	margin-bottom: 0;
  text-align: center;
  padding: 1%;
}